
/* *{
    width: 0;
    padding: 0;
    box-sizing: border-box;
    
} */
.container{
    position: relative; 
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    /* flex-wrap: wrap; */
}
.item{
    /* margin: 50%; */
    padding: 5%;
    /* display: flex; */
    flex-grow: 1; 
    flex-basis: 16%;
}
.item img{
    max-width: 100%;
}
/* .item h3{
    margin-top: 30px;
} */
h3{
    text-align: center;
}

.container2{
    position:ii relative; 
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    /* flex-wrap: wrap; */
}
.item2{
    /* margin: 50%; */
    padding: 5%;
    /* display: flex; */
    flex-grow: 1; 
    flex-basis: 16%;
}
.item2 img{
    max-width: 100%;
}
/* .item h3{
    margin-top: 30px;
} */
h3{
    text-align: center;
    color: white;
}

.footer{
    background-color: #A4907C;
}
.container4{
    display: flex;
}
.navbar{
    background-color: #C5DFF8;
}
.navbar ul{
    display: flex;
}
.navbar a{
    color: var(--white-color);
    padding: 10px;
    margin: 0 2px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.container3{
    display: flex;
}
.container,.container2{
    background-color: #FFF9C9;
}
.navbar .flex{
    justify-content: space-between;
}
.navbar a:hover{
    border-bottom: 2px solid var(--white-color);
}
.footer .social a{
    margin: 0 20px;
    justify-content: space-between;
}
.footer .flex{
    margin: 0 350px;
    justify-content: space-between;
}

/* 

@media(max-width : 500px){
    .navbar{
        height: 110px;
        

    }
    .navbar .flex{
        flex-direction: column;

    }

} */
.social{
    color: black;

}


.fo:hover{
    transform: scale(1.4);
}
.navbar 
{
    font-family: cursive;
    padding-right: 20px;
    font-size: 1.3rem;
    
}

/* .card{
    display: flex;
    justify-content: center;
    margin: 10px;
    flex-wrap: wrap;
    align-items: center;
    /* color: white; */
/* }

.card .product{
    background-color: grey;
    width: 26%;
    margin: 1%;
    text-align: center;
    border-radius: 25px;
    height: 60%;
    padding: 7% 2%;
    box-shadow: 9px 9px 9px rgb(12, 30,10);
} */ 